#mogger-example h1{
	position: relative;
	width: 100%;
	font-size: 57px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
	color: #999;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#mogger-example h2{
	position: relative;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #848484;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#mogger-example h2 b{
	color: #D37171;
}