<div>
    <div class="title-box text-center">

      <h1>Example 01</h1>
      <p>
        getting started
      </p>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">

        <h3>the object</h3>
        <pre>npm install mogger --save</pre>
        <hr>

        <h3>mogger</h3>
        <pre>npm install mogger --save</pre>
        <hr>

      </div>

    </div>
</div>
