<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <a href="#" class="navbar-brand">Mogger</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li>
              <a href="https://github.com/saitodisse/mogger/wiki">docs</a>
            </li>


            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes">examples <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes" role="dropdown-itens">
              </ul>
            </li>

            <li>
              <a href="#screenshots">screenshots</a>
            </li>

            <li>
              <a href="https://github.com/saitodisse/mogger">github</a>
            </li>

          </ul>

        </div>
      </div>
    </div>

    <div class="container" role="page-container" id="main-container">
    </div>
</body>