<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <a href="#" class="navbar-brand">Mogger</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li>
              <a href="https://github.com/saitodisse/mogger/wiki/mogger-API-::-traceObj">docs</a>
            </li>

            <li>
              <a href="https://github.com/saitodisse/mogger">github</a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes">examples <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes" role="dropdown-itens">
              </ul>
            </li>

          </ul>

        </div>
      </div>
    </div>

    <div class="container" role="page-container" id="main-container">
    </div>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54745828-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>