<div class="modal fade" id="detectConsoleModal" tabindex="-1" data-hook="dialog" aria-labelledby="detectConsoleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="detectConsoleModalLabel">Please, open your console.</h3>
      </div>
      <div class="modal-body">
        <h4>keyboards shortcuts:</h4>
        <p>Windows / Linux: <strong>F12</strong></p>
        <p>Windows / Linux: <strong>Ctrl + Shift + I</strong></p>
        <p>Mac: <strong>Cmd + Opt + I</strong></p>
      </div>
    </div>
  </div>
</div>
