<div>
    <div class="row">
      <div class="col-md-6">

        <div class="title-box text-center">

          <h1 role="title">ex-01</h1>
          <p role="subTitle">
            logging a simple object
          </p>

          <p>
            <a target="_blank" role="sourceExampleUrl">see source on github</a>
          </p>

        </div>

      </div>

      <div class="col-md-offset-1 col-md-5">

        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3>Please, open your console.</h3>

          <hr>
          <h4>shortcuts:</h4>
          <p>Windows / Linux: <strong>F12</strong> or <strong>Ctrl + Shift + I</strong></p>
          <p>Mac: <strong>Cmd + Opt + I</strong></p>
        </div>

      </div>

    </div>




    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">



      </div>
    </div>

</div>
