<div>

    <div class="row buttons-examples-top">
      <div class="col-sm-offset-8 col-sm-4 col-md-offset-9 col-md-3">
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default" role="button-previous">
            <span class="glyphicon glyphicon-step-backward"></span>
          </a>
          <a class="btn btn-default" role="button-example-title">
            [example id]
          </a>
          <a class="btn btn-default" role="button-next">
            <span class="glyphicon glyphicon-step-forward"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="title-box-example">
          <h1 role="title">TITLE_HERE</h1>
          <h3 role="subTitle">
            SUB-TITLE_HERE
          </h3>
          <p class="description" role="description">
            DESCRIPTION_HERE
          </p>
          <p class="button">
            <a class="btn btn-default" target="_blank" role="sourceExampleUrl">
              see source on github
            </a>
          </p>
          <p class="button">
            <a class="btn btn-success" target="_blank" role="button-next">
              next example
            </a>
          </p>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detectConsoleModal" tabindex="-1" role="dialog" aria-labelledby="detectConsoleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="detectConsoleModalLabel">Please, open your console.</h3>
          </div>
          <div class="modal-body">
            <h4>keyboards shortcuts:</h4>
            <p>Windows / Linux: <strong>F12</strong></p>
            <p>Windows / Linux: <strong>Ctrl + Shift + I</strong></p>
            <p>Mac: <strong>Cmd + Opt + I</strong></p>
          </div>
        </div>
      </div>
    </div>

</div>
