<div>
	<h1>
		<span class="glyphicon glyphicon-asterisk"></span>
		Home Page
	</h1>

	<p>
	  Welcome
	</p>

	<ul>
		<li>Browserify-shim</li>
		<li>Browserify / Watchify</li>
		<li>BrowserSync</li>
		<li>Compass</li>
		<li>SASS</li>
		<li>Handlebars</li>
		<li>Image optimization</li>
		<li>Non common-js jquery plugin</li>
		<li>Npm backbone</li>
		<li>Npm jquery</li>
	</ul>
	<img src="{{rootDir}}images/gulp.png" alt="" />
</div>
