<div>

    <div class="row home-boby">
      <div class="col-xs-10 col-xs-offset-1">

        <h1>Screenshots</h1>

        <p>From these screen shots we can see how the rendering of the groups
        differs for each console each browser. All were generated from the
        <a href="#ex-08">example 8</a>.</p>

        <h3>Google Chrome</h3>
        <p class="screenshot">
          <img src="{{rootDir}}images/chrome.png">
        </p>

        <hr>

        <h3>Mozila Firefox</h3>
        <p class="screenshot">
          <img src="{{rootDir}}images/firefox.png">
        </p>

        <hr>

        <h3>Firebug (firefox)</h3>
        <p class="screenshot">
          <img src="{{rootDir}}images/firebug.png">
        </p>

    </div>
</div>
