<div>

  <h1>Style-generator</h1>
  <hr>

  <div class="form-horizontal" role="form">

    <div class="form-group">
      <label class="col-sm-2 control-label" for="font-size-text">Font size</label>
      <div class="col-sm-1 font-size-text">
        <input data-hook="font-size-text" id="font-size-text" type="text" class="form-control">
      </div>
      <div class="col-sm-3">
        <input data-hook="font-size-range" class="font-size" type="range" min="8" max="30" step="1" value="12"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="before-color-picker-text">Before color</label>
      <div class="col-sm-1 color-picker-text">
        <input data-hook="before-color-picker-text" id="before-color-picker-text" type="text" class="form-control">
      </div>
      <div>
        <input data-hook="before-color-picker" class="color-picker" type="color">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="target-color-picker-text">Target color</label>
      <div class="col-sm-1 color-picker-text">
        <input data-hook="target-color-picker-text" id="target-color-picker-text" type="text" class="form-control">
      </div>
      <div>
        <input data-hook="target-color-picker" class="color-picker" type="color">
      </div>
    </div>

  </div>

</div>
