<div>

  <h1>Style-generator</h1>
  <hr>

  <div class="form-horizontal" role="form">

    <div class="form-group">
      <label class="col-xs-2 control-label" for="font-size-text">Before size</label>
      <div class="col-xs-1 font-size-text">
        <input data-hook="font-size-text" id="font-size-text" type="text" class="form-control">
      </div>
      <div class="col-xs-3">
        <input data-hook="font-size-range" class="font-size" type="range" min="8" max="30" step="1" value="12"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 control-label" for="before-color-picker-text">Before color</label>
      <div class="col-xs-1 color-picker-text">
        <input data-hook="before-color-picker-text" id="before-color-picker-text" type="text" class="form-control">
      </div>
      <div>
        <input data-hook="before-color-picker" class="color-picker" type="color">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label" for="before-font-size-text">Before font-size</label>
      <div class="col-xs-1 font-size-text">
        <input data-hook="before-font-size-text" id="before-font-size-text" type="text" class="form-control">
      </div>
      <div class="col-xs-3">
        <input data-hook="before-font-size-range" class="font-size" type="range" min="8" max="30" step="1" value="12"/>
      </div>
    </div>


    <div class="form-group">
      <label class="col-xs-2 control-label" for="target-color-picker-text">Target color</label>
      <div class="col-xs-1 color-picker-text">
        <input data-hook="target-color-picker-text" id="target-color-picker-text" type="text" class="form-control">
      </div>
      <div>
        <input data-hook="target-color-picker" class="color-picker" type="color">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label" for="target-font-size-text">Target font-size</label>
      <div class="col-xs-1 font-size-text">
        <input data-hook="target-font-size-text" id="target-font-size-text" type="text" class="form-control">
      </div>
      <div class="col-xs-3">
        <input data-hook="target-font-size-range" class="font-size" type="range" min="8" max="30" step="1" value="12"/>
      </div>
    </div>

  </div>

  <hr>

  <pre><code class="javascript">this.mogger.traceObj({
    before: {
        message: 'Simple Obj 1'
    },
    localBeforeConfig: {
        size: <span data-hook="code-before-size"></span>,
        css: <span data-hook="code-before-css"></span>
    },

    targetTitle: 'SIMPLE_OBJ_1',
    localTargetConfig: {
        css: <span data-hook="code-target-css"></span>
    }
});
</code></pre>

</div>
