.title-box {

	.mainTitle{
		color: #4C4E4E;
		display: block;
		box-sizing: border-box;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 160px;
		font-weight: 500;
		margin: 23px 0 29px 0;
		text-shadow: rgba(0, 0, 0, 0.3) 2px 3px 1px;

		@media screen and (max-width: 640px) {
			font-size: 64px;
			border-style: none;
		}

	}

	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

	h1 {
		font-size: 72px;
	}

	h3 {
		font-size: 32px;
		margin-bottom: 20px;
	}

	p.subTitle {
		font-size: 24px;
		margin-bottom: 40px;
	}

	span {
		font-weight: bold;
	}

	.colorful-01 {
		color: #f80c12;
	}
	.colorful-02 {
		color: #ee1100;
	}
	.colorful-03 {
		color: #ff3311;
	}
	.colorful-04 {
		color: #ff4422;
	}
	.colorful-05 {
		color: #ff6644;
	}
	.colorful-06 {
		color: #ff9933;
	}
	.colorful-07 {
		color: #feae2d;
	}
	.colorful-08 {
		color: #ccbb33;
	}

}

.home-boby{
	font-size: 18px;
	p {
		margin: 17px 0px 0px 22px;
		line-height: 30px;
	}
}

code.javascript.hljs {
	font-size: 16px;
	font-weight: 800
}