.font-size {
	margin: 6px 0px 0px 28px;
	width: 271px !important;
}

.color-picker {
    height: 31px;
	margin: 2px 0px 0px 0px;
	width: 277px;
}

.font-size-text{
	width: 73px !important;
}

.color-picker-text{
	width: 113px !important;
}

