.title-box {
	font-family: monospace, 'Courier New';

	h1 {
		font-size: 64px;
	}

	p {
		font-size: 24px;
	}

	.colorful-01 {
		color: #f80c12;
	}
	.colorful-02 {
		color: #ee1100;
	}
	.colorful-03 {
		color: #ff3311;
	}
	.colorful-04 {
		color: #ff4422;
	}
	.colorful-05 {
		color: #ff6644;
	}
	.colorful-06 {
		color: #ff9933;
	}
	.colorful-07 {
		color: #feae2d;
	}
	.colorful-08 {
		color: #ccbb33;
	}
}

