.title-box-example {
	h1 {
		font-size: 50px;
		margin: 11px 0;
	}

	h3 {
		font-size: 28px;
		margin: 18px 0;
	}

	p.description {
		font-size: 18px;
		margin: 29px 0 34px 0 !important;
	}

	p.button {
		font-size: 18px;
		margin: 15px 0 0 0 !important;
	}
}

.buttons-examples-top {
	margin-top: 16px;
}

code.javascript.hljs {
	font-size: 15px;
}